<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>This is my demo</title>

    <!-- cdn boosttrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="wrapper-image">
                <h1 style="color: blue">This is my demo for <br/> Sky's CI/CD team </h1>
                <h4 style="color: blue">Hello mr.Son </h4>

                <img src="https://media.discordapp.net/attachments/831754557717086228/870175609005953065/Capture.PNG?width=558&height=663" />

            </div>
        </div>
        <div class="col-6">
            <div class="wrapper-content">
                <p>   <br/> </p>
                <p class="post-left-side">The architecture simply includes Git, Jenkins, K8s</p>

            </div>
        </div>
    </div>
</div>
</body>
<style>

    .container {
        margin-top: 60px;
    }
    .post-left-side {
        margin-top: 60px;
        color: black
    }

    .btn {
        background-color: aqua;
        border:1px solid blue;
        color: white;
    }
    .wrapper-content {
        margin-top: 60px;
        font-size: 20px;
    }
    img {
        max-width: 100%;
        border-radius: 30px;
    }

</style>

</html>