<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title style="color: blue"></title>
</head>
<body>
    <h1 class="post-title">This is my demo for CI/CD team</h1>

    <p class="post-description">Working on master branch</p>
    <img src="./architecture.png" />
</body>
<style>
    body {
        background-color:#f1f1f1;
    }
    .post-title {
        position: center;
        color:#000000;
        font-size:30px;
    }
    .post-description {
        color: blue;
        position: center;
        font-size: 16px;
    }
</style>
</html>
